*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#Body{
    display: flexbox;
    background-image: url("/images/islandHD.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.h2{
    text-shadow: 1px 1px 2px white;
    text-align: center;
}

#form{
   background-color: rgb(0, 98, 255);
    margin: auto;
    opacity: 80%;
    box-shadow: 10px 10px 20px transparent;
    border-radius: 2px;
}

#form > div{
    /* height: 20%; */
    margin:45px ;
}
#flag{
    float: right;
    width: 30%;
}

#flag img{
    float: right;
    width: 60%;
}
#Fname, #Lname, #PhoneNo,#date, #place_of_interest, #package, #people{
    color: black;
    background: transparent;
  border: none;
  border-bottom: 3px solid rgb(195, 201, 212);
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 2px;
}
#form label{
    font-size: 14px;
    color: white;
    font-weight: bolder;
    margin-right: 20px;
}
#form input, select{
    font-size: 14px;
    color: black;
}

#Fname:hover, #Lname:hover, #PhoneNo:hover,#date:hover, #place_of_interest:hover, #package:hover, #people:hover{
    background: transparent;
  border: none;
  border-bottom: 3px solid white;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  /* height: 30px; */
}


@media screen {
    #form{
        width: auto;
    }
}